
img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}
.nav-logo-container {
  width: 100px; 
  height: 100px; 
  position: relative;
  top: 20px;
}
.nav-logo-container img {
  width: 100%; 
  height: auto; 
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  
}
.navbar-links-container a {
  margin-right: 7rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  
}
.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}

.logout {
  padding: 0.5rem 1rem;
  background-color: rgb(245, 138, 138);
  outline: none;
  border: none;
  border-radius: 20px; 
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  margin-right: 1rem; 
}

.logout:hover {
  background-color: rgb(234, 234, 234);
}

.user-welcome {
  font-size: 18px; 
  margin-right: 0.7rem; 
}

.menu-icon-container {
  display: none;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-bottom-left-radius: 30px;
  position: absolute;
  top: 70px;
  right: 1px;
  z-index: 1000;
  transition: opacity 1s, height 0.8s;
  opacity: 0; 
  height: 0; 
}

.auth-form.active {
  opacity: 1; 
  height: auto; 
}
.auth-form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
}

.auth-form button {
  background-color: #e76f2a;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.primary-button {
  background-color: #db490f;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}
.primary-button:hover{
  background-color: #e76f2a;
}


/* Mobile Menu Container */
@media (max-width: 800px) {
  .navbar-links-container {
    display: none; 
  }
  .menu-icon-container {
    display: block;
    margin-right: 1rem;
   
  }
  .navbar-links-container.mobile-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    border-radius: 20px;
    transition: opacity 1.5s ease;   
  }
  .navbar-links-container a {
    margin: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
  }
}
