
.admin-products-container {
    text-align: center; 
    display: flex;
  }

  .admin-products-heading {
    font-size: 24px;
    margin-bottom: 20px;
   
    text-align: center;
  }
  
  .admin-products-table {
    width: 100%;
    border-collapse: collapse; 
  }
  
  .admin-products-table th,
  .admin-products-table td {
    padding: 10px;
    border: 1px solid #ddd; 
  }
  
  .admin-products-table th {
    background-color: #333;
    color: #fff;
  }
  
  .admin-product-image {
    max-width: 100px;
    max-height: 100px;
    display: block; 
    margin: 0 ;
  }
  
  .admin-products-container {
    display: flex;
    justify-content: center;
  }
  
  .product-image{
    justify-content: center;
    width: 100px;
    height: 100px;
  }

  .delete{
    background-color: rgb(248, 69, 69);
    font-size: 28px;
    border: 1px black solid ;
    border-radius: 20px;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
  }

  .delete:hover{
    background-color: rgb(236, 112, 112);
    transform:  ease 0.9s;
  }